# -----------------------------------------------------------------------------
# WICHTIGE ANPASSUNGEN FÜR STREAMLIT DEPLOYMENT
#
# Die Zeilen, die .csv und den data-Ordner ausschließen, WURDEN ENTFERNT.
# Dies stellt sicher, dass die Daten (.data/mpg.csv) auf GitHub landen.
# -----------------------------------------------------------------------------

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebooks & Caching
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.pytest_cache/

# mypy und Ruff
.mypy_cache/
.ruff_cache/

### IDEs & OS ###
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.history/

# PyCharm / JetBrains
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dataSources/
.idea/dataSources.ids
.idea/sqlDataSources.xml
*.iml
out/

# macOS
.DS_Store

# Windows
Thumbs.db
[Dd]esktop.ini

# Linux
*~